<% fields = study.attributes.dup 
  fields.delete("id") 
  fields.delete("created_at")
  fields.delete("updated_at")   
  %>


<table id="study-info-table" border=0>
  <thead>
    <tr>
      <th>Study Overview</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% %w{title
          series_name
          stdy_auth_entity
          stdy_id
          abstract_text
          stdy_bibl_cit
          stdy_copyright
          stdy_version
          creation_date    }.each do |fld| %>
      <%= study_field_table_row(fld, study, fields) %>
    <% end %>
  </tbody>
</table>

<table id="study-data-access-table" border=0>
  <thead>
    <tr>
      <th>Data Access</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <%= study_field_table_row('access_conditions', study, fields) %>
  </tbody>
</table>

<table id="study-biblio-table" border=0>
  <thead>
    <tr>
      <th>Bibliographical Details</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% %w{stdy_producer
          stdy_producer_abbr
          data_collector
          stdy_contributor
          stdy_contact
          stdy_contact_affiliation
          stdy_contact_email       }.each do |fld| %>
      <%= study_field_table_row(fld, study, fields) %>   
    <% end %>
  </tbody>
</table>

<table id="study-scope-table" border=0>
  <thead>
    <tr>
      <th>Study Scope</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <%= study_field_table_row('keywords', study, fields) %>
    <%= study_field_table_row('subcat', study, fields) %>
    <%= study_field_table_row('time_period', study, fields) %>

    <% unless fields["period_start"].blank? and fields["period_end"].blank? %>
     <tr>
       <td valign=top>Time Period</td>
      <td>
          <table>
            <tr>
              <td>
                <%= human_readable('period_start') %>:
                <%= study.period_start %>
              </td>
              <td>
                <%= human_readable('period_end') %>:
                <%= study.period_end %>
              </td>              
            </tr> 
          </table>         
       </td>
     </tr>
    <% end %>

    <% unless fields["collection_start"].blank? and
       fields["collection_end"].blank? %>
     <tr>
       <td valign=top>Date of Collection</td>
      <td>
          <table>
            <tr>
              <td>
                <%= human_readable('collection_start') %>:
                <%= study.collection_start %>
              </td>              
              <td>
                <%= human_readable('collection_end') %>:
                <%= study.collection_end %>
              </td>              
            </tr> 
          </table>         
       </td>
     </tr>
    <% end %>

    <% %w{nation
          geographical_cover
          geographical_unit
          language
          analytic_unit
          universe
          data_kind           }.each do |fld| %>
      <%= study_field_table_row(fld, study, fields) %>   
    <% end %>
  </tbody>
</table>

<table id="study-methodology-table" border=0>
  <thead>
    <tr>
      <th>Methodology</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% %w{time_meth
          sampling
          research_instr
          coll_mode
          stdy_data_coll_freq
          response
          weight              }.each do |fld| %>
      <%= study_field_table_row(fld, study, fields) %>   
    <% end %>
  </tbody>
</table>

<table id="study-deposit-info-table" border=0>
  <thead>
    <tr>
      <th>Deposit Information</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% %w{stdy_status
          stdy_dep_date
          stdy_depositor
          distribution_date
          stdy_prod_date
          stdy_version_date
          stdy_version_notes
          stdy_version_responsibility}.each do |fld| %>
      <%= study_field_table_row(fld, study, fields) %>   
    <% end %>
  </tbody>
</table>
 
<table id="study-other-info-table" border=0>
  <thead>
    <tr>
      <th>Other</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% %w{doc_bibl_cit
          doc_copyright
          doc_producer
          doc_prod_date  }.each do |fld| %>
      <%= study_field_table_row(fld, study, fields) %>   
    <% end %>
    </tr>
  </tbody>
</table>
